@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
:root{
    --background-color: black;
    --text-color: #3a3a3a;
    --font-family: Stardos Stencil, serif;
    --light-gray: #f0f0f0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family:var(--font-family) ;
}
.header-container{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
}

.logo-icon{
    width: 12rem;
    height: auto;
} 
.nav{
    display: none;
    gap: 1.5rem;
}
.nav-link{
    color: var(--light-gray);
    font-size: 1.2rem;
}
@media screen and (min-width:768px) {
    .nav{ display: flex; }
}
.menu{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
.menu img{
    width: 2rem;
    height: 2rem;
}
@media (max-width:768px) {
    .menu{ display: flex;
    background: white;}
}
.description-container{
    padding: 4rem;
}
.description-content{
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    gap: 1rem;
}
.description1{
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-color);
    padding-right: 1.5rem;
    border-right: 2px solid;
    border-color: black;
    
}
.description{
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-color);
    padding-left: 1rem;
}
.title{
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;

}

