@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
:root{
    --background-color: black;
    --text-color: #3a3a3a;
    --font-family: Stardos Stencil, serif;
    --light-gray: #f0f0f0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family:var(--font-family) ;
}
.header-container{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo-icon{
    width: 12rem;
    height: auto;
} 
.menu{
    border: none;
    background-color: var(--light-gray);
    width: 2rem;
    height: 2rem;
}
.description-container{
    padding: 4rem;
}
.description-content{
    max-width: 968px;
}
.description{
    font-size: 40px;
    font-weight: 100;
    color: var(--text-color);
}

